{% extends 'base.html.twig' %}

{% block content %}
    <h1>Une erreur est survenue</h1>
    <p>Désolé, Vous n'êtes pas autorisé à accéder à cette page.</p>

    <p><a href="{{ path('account') }}">Retournez sur votre compte</a></p>
{% endblock %}
