{% extends 'base.html.twig' %}

{% block content %}
    <h1>Réservation annulée</h1>
    <p>La suppression de votre réservation a bien été prise en compte</p>

    <p><a href="{{ path('account') }}">Retournez sur votre compte</a></p>
{% endblock %}
